.App {
  display: flex;
  justify-content: center;
  background-color: #22252c;
  color: white;
}
body {
  user-select: none;
}
.timer {
  width: 90%;
  margin-top: 50px;
}
.small_head {
  font-weight: 100;
  margin-bottom: 0;
}
.head {
  margin-top: 0;
}
.time {
  text-align: center;
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time_text {
  font-size: 75px;
}
.more {
  text-align: right;
  margin-top: -8px;
  color: #8c8c8c;
}
